.menu {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    margin-bottom: 72px;
    .menuItems {
           display: flex;
           justify-content: space-between;
           width: 100%;
           max-width: 448px;


           .active {
            color: #4094F7;
            font-weight: 500;
            border-bottom: 4px solid #4094F7;
        }

           

           li {
               list-style-type: none;

               a {
                   text-decoration: none;
                   color: #6E8BB7;
                   font-weight: 500;
                   font-size: 14px;
                   padding-bottom: 16px;

                 

               }

              
           }
    }

    .userIcons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 100px;
    }
}

@media screen and (max-width: 700px) {
    .menu {
      width: 80%;
      margin: 0 auto;
      // margin-top: 20px;
    }
  }