.todoWrapper {

    width: 32%;

    .headSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // max-width: 353px;
        // width: 100%;

        .headText {
            font-size: 24px;
            font-weight: 700;
            color: #000;
        }

        .headSelects {
            display: flex;
            align-items: center;

            select {
                background-position: left;
            }
            
            .customSelect {
                font-size: 14px;
                font-weight: 500;
                color: #303940;
                border: 1px solid #E5E9EB;
                border-radius: 6px;
                padding: 10px 0 10px 12px;
                margin-right: 8px;
            }

            .addBtn {
                background-color: #fff;
                border-radius: 6px;
                border: none;
                cursor: pointer;
                
                &:active {
                    transform: scale(0.85);
                    
                }

                img {
                    padding: 13px;
                }
        }
        }
    }

    .todoArea {
        margin-top: 20px;
        // width: 100%;
        height: 100%;
        // max-width: 353px;
        max-height: 304px;
        background-color: #fff;
        overflow: scroll;
        overflow-x: hidden;
        border-radius: 12px;

        &::-webkit-scrollbar {
            width: 4px;
           
        }

        &::-webkit-scrollbar-thumb {
            background: #D1D2D3; 
        }
    }

    .todoElement {
        display: flex;
        align-items: center;
        padding: 12px;


        .dragIcon {
            margin-right: 14px;
        }

        .inputWrapper {
            display: flex;
            align-items: center;
            align-self: center;
            // border-bottom: 1px solid #B0BABF;

            label {
                display: flex;
            }

        .checkbox {
            margin-right: 8px;
            width: 20px;
            height: 20px;
            background-color: #F6F8F9;
            align-self: center;            
        }
    }
    }
}


.overlay {
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
}



.modal {
    display: block;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    max-width: 640px;
    max-height: 288px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    z-index: 5;

    
    // .modal.visible {
    //     display: block;
    // }


    .modalWrapper {
        padding: 16px;

        .modalHeading {
            font-size: 18px;
            font-weight: 700;
            color: #1A2024;
        }

        .modalForm {
            padding: 16px 0 16px 0;

            .inputForms {
                padding-top: 16px;
                padding-bottom: 16px;
                border-top: 1px solid #E5E9EB ;
                border-bottom: 1px solid #E5E9EB ;
            }

            .inputField{
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:not(last-child){
                    margin-bottom: 16px;
                }
                
                label {
                    max-width: 168px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #303940;
                 }

                 input {
                     font-size: 14px;
                     font-weight: 400;
                     color: #9AA6AC;
                     border: 1px solid #E5E9EB;
                     border-radius: 6px;
                     max-width: 424px;
                     width: 100%;
                     padding: 8px 16px;
                 }

            }
            .checkboxField{
                display: flex;
                // justify-content: space-between;
              
                
                label {
                    max-width: 168px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #303940;
                    margin-right: 23%;
                 }

            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 5%;

            button {
                padding: 6px 56px;
                border: 1px solid #E5E9EB;
                border-radius: 6px;
                cursor: pointer;
            }
            .cancelBtn {
                background-color: #fff;
                color: #0E73F6;
                margin-right: 16px;
            }

            .saveBtn {
                background-color: #0E73F6;
                color: #fff;
            }
        }

    }
}

@media screen and (max-width: 700px) {
    .todoWrapper {

        width: 90%;
        margin: 0 auto;
    }
  }