.folderWrapper {
    width: 32%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px #1A202452;
    text-decoration: none;

    
    .folderInner {
        max-width: 310px;
        width: 100%;
        margin: 0 auto; 
        padding: 30px 0 30px 10px;

        .folderImages {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;

            .threeDots {
                align-self: flex-start;
            }
        }

        .folderName {
            font-size: 17px;
            font-weight: 700;
            color: #000;
            margin-bottom: 15px;
        }

        .folderDetails {
            display: flex;

            .projects {
                margin-right: 15px;
                font-size: 14px;
                font-weight: 400;
                color: #84919A;
            }

            .files {
                font-size: 14px;
                font-weight: 400;
                color: #84919A;
            }
        }
    }
}

@media screen and (max-width: 905px) {
    .folderWrapper {
        width: 33%;

        .folderInner {
            max-width: 310px;
            width: 100%;
            margin: 0 auto; 
            padding: 30px 20px 30px 20px;
        }
    }
  }

  @media screen and (max-width: 700px) {
    .folderWrapper {
        width: 32%;

        // .folderInner {
        //     max-width: 310px;
        //     width: 100%;
        //     margin: 0 auto; 
        //     padding: 30px 20px 30px 20px;
        // }
    }
  }

// folderDetails

@media screen and (max-width: 600px) {
    .folderWrapper {
       .folderDetails {
           display: flex;
           justify-content: center;
           flex-direction: column;
           column-gap: 10px;

           .projects {
                margin-bottom: 5px;
        }
       }
    }
  }