.tableWrapper {
  margin-top: 80px;
  margin-bottom: 50px;

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .tableHeading {
      font-size: 24px;
      font-weight: 700;
   
    }

    .newProjectBtn {
      display: flex;
      align-items: center;
      background-color: #027aff;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 6px;
      border: none;
      cursor: pointer;

      &:active {
        transform: scale(0.98);
      }

      .plusIcon {
        font-size: 16px;
        margin-right: 12px;
        align-self: center;
      }
    }

  }

  .tableBg {
    background-color: #fff;

    .tableContainer {
      padding: 16px;

      .headSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;

        .tableSearch {
          padding: 6px 8px;
          font-size: 14px;
          font-weight: 400;
          color: #9aa6ac;
          border-radius: 6px;
          border: 1px solid #e5e9eb;
        }

        .tableMenu {
          display: flex;
          justify-content: space-between;
          width: 100%;
          max-width: 187px;
          li {
            list-style-type: none;

            a {
              text-decoration: none;
              font-size: 14px;
              font-weight: 500;
              color: #6e8bb7;
            }

            .tableActive {
              color: #0e73f6;
              padding-bottom: 13px;
              border-bottom: 2px solid #0e73f6;
            }
          }
        }
      }

      .table {
        max-width: 1091px;
        width: 100%;
        border-collapse: collapse;

        tbody {
          tr {
            &:nth-child(odd) {
              background-color: #f4f6fa;
            }
          }
        }

        th {
          font-size: 14px;
          font-weight: 600;
          color: #1a2024;
        }

        td {
          font-size: 14px;
          font-weight: 400;
          color: #303940;
        }

        th,
        td {
          text-align: left;
          border: 1px solid #e5e9eb;
          padding-left: 16px;
          height: 48px;
        }

        .unpaid {
          color: #0452c8;
          background-color: #d7edff;
          font-size: 14px;
          font-weight: 500;
          padding: 4px 36px;
          border-radius: 6px;
        }

        .overdue {
          color: #f2271c;
          background-color: #fddfdd;
          font-size: 14px;
          font-weight: 500;
          padding: 4px 31px;
          border-radius: 6px;
        }

        // .checkBox {
        //   width: 48px;
        //   height: 48px;
        //   text-align: center;
        //   padding: 0;

        //   input {
        //     width: 20px;
        //     height: 20px;
        //     background-color: #f6f8f9;
        //     border-radius: 4px;
        //     border: 1px solid #b0babf;
        //   }
        // }

        .name {
          width: 250px;
        }

        .amount {
          width: 240px;
        }

        .inv {
          width: 240px;
        }

        .status {
          width: 152px;
        }

        .dates {
          width: 114px;
        }
      }
    }
  }
}



.overlay {
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  display: block;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  max-width: 640px;
  height: 280px;
  width: 100%;
  // height: 100%;
  border-radius: 6px;
  z-index: 5;

  .modalWrapper {
    padding: 16px;

    .modalHeading {
      font-size: 18px;
      font-weight: 700;
      color: #1a2024;
    }

    .modalForm {
      padding: 16px 0 16px 0;

      .inputForms {
        padding-top: 16px;
        padding-bottom: 16px;
        border-top: 1px solid #e5e9eb;
        border-bottom: 1px solid #e5e9eb;
      }

      .inputField {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(last-child) {
          margin-bottom: 16px;
        }

        label {
          max-width: 168px;
          font-size: 14px;
          font-weight: 600;
          color: #303940;
        }

        input {
          font-size: 14px;
          font-weight: 400;
          color: #9aa6ac;
          border: 1px solid #e5e9eb;
          border-radius: 6px;
          max-width: 424px;
          width: 100%;
          padding: 8px 16px;
        }
      }

      .dateField {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(last-child) {
          margin-bottom: 16px;
        }

        label {
          max-width: 168px;
          font-size: 14px;
          font-weight: 600;
          color: #303940;
        }

        input {
          font-size: 14px;
          font-weight: 400;
          color: #9aa6ac;
          border: 1px solid #e5e9eb;
          border-radius: 6px;
          max-width: 424px;
          width: 100%;
          padding: 8px 16px;
        }
        .datesWrapper {
          display: flex;
          justify-content: space-between;
          .DatePicker {
            width: 95%;
          }
        }
        
      }
      
      .fileUploadField{
        display: flex;
        margin-bottom: 16px;
      
        
        label {
            max-width: 168px;
            font-size: 14px;
            font-weight: 600;
            color: #303940;
            margin-right: 23%;
         }

        //  .uploadBtn {
          
        //    border: 1px solid #e5e9eb;
        //    background-color: #fff;
        //  }

         input {
          max-width: 427px;
          width: 100%;
          height: 200px;
          border: 1px solid #e5e9eb ;
          padding: 88px 85px;
          border-radius: 6px;
         }

         img {
          max-width: 427px;
          width: 100%;
          height: 200px;
          // height: 100%;
          object-fit: cover;
         }

    }

      .membersField {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(last-child) {
          margin-bottom: 16px;
        }

        label {
          max-width: 168px;
          font-size: 14px;
          font-weight: 600;
          color: #303940;
        }

        select {
          font-size: 14px;
          font-weight: 400;
          color: #9aa6ac;
          border: 1px solid #e5e9eb;
          border-radius: 6px;
          max-width: 424px;
          width: 100%;
          padding: 8px 16px;
        }

        // select:required:invalid {
        //     color: gray;
        //   }
        
        // option[value=""][disabled] {
        //     display: none;
        // }

      }

    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 5%;

      button {
        padding: 6px 56px;
        border: 1px solid #e5e9eb;
        border-radius: 6px;
        cursor: pointer;
      }
      .cancelBtn {
        background-color: #fff;
        color: #0e73f6;
        margin-right: 16px;
      }

      .saveBtn {
        background-color: #0e73f6;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .tableWrapper {
    width: 90%;
    // margin-top: 20px;
    margin: 0 auto;

    .tableHeading {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 670px) {
  .tableWrapper {
   
    .table {
    overflow-y: scroll;
    width: 100%;
      

    //   .name {
    //     width: 10px;
    //   }

    //   .amount {
    //     width: 100px;
    //   }

    //   .inv {
    //     width: 200px;
    //   }

    //   .status {
    //     width: 120px;
    //   }

    //   .dates {
    //     width: 90px;
    //   }
    }
  }
}

@media screen and (max-width: 500px) {
    .tableWrapper {
      width: 90%;
      // margin-top: 20px;
      margin: 0 auto;
  
      .tableHeading {
        margin-top: 70px;
      }
    }
  }
